// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rajdhani&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');


// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

$responsive-xs: 576px;
$responsive-md: 992px;
$responsive-lg: 1200px;
$responsive-xl: 2560px;


body {
    padding: 0;
    margin: 0;
    background-image: url('../img/tf-bg-bfa.jpg');
    background-repeat: no-repeat;
    background-position: center -1px;
    background-color: #000;
    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-numeric: normal;
    font-variant-east-asian: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 12px;
    line-height: normal;
    font-family: Arial, Helvetica, sans-serif;
    color: #DDD;
    background-attachment: fixed;
    background-size: cover;
    font-family: Quicksand;
    font-size: 13px;
}

#header-guild-name {
    text-shadow: 1px 1px #3d3636;
    font-family: Rajdhani;
    letter-spacing: 6px;
    text-align:right;
    padding-right:15px;

    @media screen and (max-width: $responsive-xs) {
        font-size:15px;
    }

    @media screen and (max-width: $responsive-xl) {
        font-weight: bolder;
        font-size:40px;
    }
}

#header-logo {
     background: url('../img/tf_white_logo.png');
     background-repeat: no-repeat;
     width:287px;
     height:200px;

     @media screen and (max-width: $responsive-xs) {
        display:none;
    }
}

#header-guild-subtext {
    font-size:17px;
    letter-spacing: 4px;
    font-weight: 100;
}

.navbar-custom {
    background-color: rgba(39, 30, 30, 0.432);
    background: linear-gradient(to right, rgba(39, 30, 30, 0.199), rgb(39, 30, 30),rgb(39, 30, 30),rgb(39, 30, 30), rgba(39, 30, 30, 0.199));
    color: #000000;
    width:100%;
    font-family: Quicksand;
    font-size: 15px;
    height:35px;
}


/* change the brand and text color */
.navbar-custom .navbar-brand,
.navbar-custom .navbar-text {
    color: rgba(255, 255, 255, 0.8);
    text-shadow: 2px 2px #209ce4;

}
/* change the link color */
.navbar-custom .navbar-nav .nav-link {
    color: rgb(253, 253, 253);
}
/* change the color of active or hovered links */
.navbar-custom .nav-item.active .nav-link,
.navbar-custom .nav-item:focus .nav-link,
.navbar-custom .nav-item:visited .nav-link,
.navbar-custom .nav-item:hover .nav-link {
    color: #ffffff !important;
}

a {
    color: rgb(255, 255, 255);
}
a:hover {
    color:#b6b6b6;
    text-shadow: 1px 1px #ffffff;
    text-decoration: none;
}


// Content transition in main router-view.

.fade-enter-active, .fade-leave-active {
    transition-property: opacity;
    transition-duration: .25s;
  }

  .fade-enter-active {
    transition-delay: .25s;
  }

  .fade-enter, .fade-leave-active {
    opacity: 0
  }

  // Main content CSS, positionning for the main blocks.

.wrapper-content {
    -webkit-box-shadow: 0px 0px 15px 7px rgba(0, 0, 0, 0.445);
    box-shadow: 0px 0px 2px 1px rgba(0, 0, 0, 0.575);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    border: 1px solid rgb(0,0,0);
    background-color: rgba(34, 34, 34, 0.795);
    padding: 20px;
    margin-bottom: 20px;
}

.rio-header {
    text-align:center;
    color:#63D0F4;
    font-size: 15px;
    font-weight: bold;
}
.rio-wrapper {
    border: 1px solid rgb(114, 114, 114);
    background-color: rgb(39, 39, 39);
    // -webkit-border-radius: 3px;
    // -moz-border-radius: 3px;
    // border-radius: 3px;
    padding: 8px;
}

.rio-wrapper .rio-data p {
    font-size: 17px;
    text-align:center;
}

hr {
    border: 1px white solid;
    padding: 0px;
}

.recruit-header {
    text-align:center;
    color:#63D0F4;
    font-size: 15px;
    font-weight: bold;
}
.recruit-wrapper {
    border: 1px solid rgb(114, 114, 114);
    background-color: rgb(39, 39, 39);
    // -webkit-border-radius: 3px;
    // -moz-border-radius: 3px;
    // border-radius: 3px;
    padding: 8px;
}

.recruit-wrapper .recruit-data p {
    font-size: 13px;
    text-align:left;
    padding : 0;
    margin : 0;
    line-height : 20px;
}

